@{
    ViewBag.Title = "Sport Store: Заказ завершен";
}

<h2 class="text-success">Спасибо!</h2>
<p>
    Спасибо за вашу заявку. Доставим ваш товар в лучшем виде.
</p>
<div>
    <i class="text-info">
        С наилучшими пожеланиями,<br />
        команда SportStore.
    </i>
</div>